body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-image: radial-gradient(lightgreen, lightblue );
  font-weight: 700px;
}

nav {
  background: #93bee7;
  padding: 10px;
}
footer{
    background-color: #15023a;
    padding: 10px 20px;
    margin: 0;
    color: #979797;
    text-align: center;
    position: relative;
}
nav ul {
  list-style: none;
  display: flex;
  position: relative;
  padding-left: 65px;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.hero {
  background: #eccdcd;
  padding: 40px;
  text-align: center;
  margin: 0%;
}
div p{
    margin-left: 25px;
}

form{
    margin-left: 25px;
}
h1, h2 {
  color: #15023a;
  margin-left: 30px;
}

form input, textarea {
  width: 300px;
  padding: 8px;
}
.active{
    color: aqua;
    cursor: pointer;
}
.submit{
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 3px;
    border-color: gren;
    box-shadow: none;
    border-color: green;
    margin-bottom: 20px;
}
nav div img{
    z-index: 10;
    position: absolute;
    width: 45px;
    height: 50px;
    border-radius: 20px;
}

ul li a:hover{
    background-color: #979797;
}
section{
    margin-left: 25px;
}

span{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
div button {
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border-color: gren;
    box-shadow: none;
    border-color: green;
    position: absolute;
    left: 2px;
    bottom: 5px;

}





